*.exe filter=lfs diff=lfs merge=lfs -text
*.exec filter=lfs diff=lfs merge=lfs -text
Pods/MLKitBarcodeScanning/Frameworks/MLKitBarcodeScanning.framework/MLKitBarcodeScanning filter=lfs diff=lfs merge=lfs -text
Pods/MLKitBarcodeScanning/Frameworks/MLKitBarcodeScanning.framework/MLKitBarcodeScanning* filter=lfs diff=lfs merge=lfs -text
/Users/davidjosuemarcialquero/Documents/BancoDeAlimentos/Pods/MLKitBarcodeScanning/Frameworks/MLKitBarcodeScanning.framework/MLKitBarcodeScanning filter=lfs diff=lfs merge=lfs -text
Pods/** filter=lfs diff=lfs merge=lfs -text
