<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999662225076-odrb5f925cmqlc6hbiualr1baerogfs9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999662225076-odrb5f925cmqlc6hbiualr1baerogfs9</string>
	<key>API_KEY</key>
	<string>AIzaSyCOtHBCskC3AL1ubmLWklbXyM-nx9ggpcA</string>
	<key>GCM_SENDER_ID</key>
	<string>999662225076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>A00828702.BancoDeAlimentos</string>
	<key>PROJECT_ID</key>
	<string>bancodealimentos-9473b</string>
	<key>STORAGE_BUCKET</key>
	<string>bancodealimentos-9473b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999662225076:ios:c510f594a4aa65be0479e1</string>
</dict>
</plist>